body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 12.5%;
  background-color: #9E7DF2;
}

.container.centered {
  display: flex;
  height: 100%;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-panel {
  width: 60%;
  background: url('../css/signIn.jpg') no-repeat center center;
  background-size: 80%;
}

.right-panel {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9E7DF2;
}

.login-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9E7DF2;
}

.login-card {
  font-family: 'Lexend', sans-serif;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.btn-primary, .btn-secondary {
  font-size: 100%;
  font-family: 'Lexend', sans-serif;
  background-color: white;
  color: #9E7DF2;
  border-radius: 0.25em;
  border: 1px solid white;
  padding: 12px 20px;
  width: 10vw;
  box-sizing: border-box;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn-secondary {
  background-color: #9E7DF2;
  color: white;
}

.welcome-title {
  font-family: 'Lexend', sans-serif;
  font-size: 250%;
}

.label-email, .label-password {
  font-family: 'Lexend', sans-serif;
  font-weight: lighter;
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.login-form {
  width: 90%;
  margin: auto;
}

.form-control {
  font-size: 150%;
  border-radius: 0.25em;
  border: 1px solid white;
  padding: 12px 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  margin-left: 1.5vw;
}

.separator-line {
  width: 15vw;
  height: 1px;
  background-color: white;
  margin: 5vh 0;
}

.task-page-container {
  display: flex;
  height: calc(100vh - 10vh);
  color: #fff;
}

.task-sidebar .sidebar-content .today-active {
  background-color: #6f42c1; /* Darker background color */
}

.task-sidebar {
  height: 98vh;
  border-radius: 0.25em;
  width: 5%;
  background-color:  #9E7DF2;
  transition: width 0.5s;
  position: fixed;
  font-family: 'Lexend', sans-serif;
}

.task-sidebar-expanded {
  width: 20%;
}

.menu-icon {
  cursor: pointer;
}

.task-main {
  background-color: #e3e3e3ac;
  width: 100%;
  height: fit-content;
  transition: margin-left 0.5s;
}

.task-main-expanded {
  margin-left: 20%;
}

.task-item {
  background-color: #fff;
  color: #333;
  padding: 2vw;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.task-item .task-title {
  font-weight: 600;
}

.task-item .task-time {
  font-weight: 400;
}

.task-item .task-status {
  font-weight: 400;
}

.task-item .task-actions a {
  margin-right: 10px;
}

.task-sidebar .sidebar-content .sidebar-item {
  display: flex;
  align-items: center;
}

.task-sidebar .sidebar-content .sidebar-item .icon {
  margin-right: 10px;
}

.task-sidebar .sidebar-content .sidebar-item .text {
  display: none;
}

.task-sidebar-expanded .sidebar-content .sidebar-item .text {
  display: inline;
}

.create-task-btn {
  font-size: 100%;
  font-family: 'Lexend', sans-serif;
  background-color: white;
  color: #9E7DF2;
  border-radius: 0.25em;
  border: 1px solid white;
  padding: 12px 20px;
  text-align: center;
  display: block;
  text-decoration: none; /* Remove underline from the anchor */
  width: 10vw; /* Allow button size to fit the content */
}

.create-task-btn:hover {
  background-color: #9E7DF2;
  color: white;
  text-decoration: none; /* Remove underline from the anchor on hover */
}
.today-icon {
  background-image: url('today.svg');
  background-size: cover;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.alltasks-icon {
  background-image: url('all_tasks.svg');
  background-size: cover;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.settings-icon {
  background-image: url('settings.svg');
  background-size: cover;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.user-icon {
  background-image: url('user.svg');
  background-size: cover;
  margin: 1rem;
  margin-top: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}

.menu-icon {
  background-image: url('menu.svg');
  background-size: cover;
  margin: 1rem;
  margin-top: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}

.task-sidebar .sidebar-content .today-active {
  background-color: #6f42c1; /* Darker purple for active items */
}


.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.task-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exit-icon {
  background-image: url('exit.svg');
  background-size: cover;
  margin: 1rem;
  margin-top: 20rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}

.text-visible {
  display: inline;
}

.task-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-task-btn-container {
  text-align: center;
  padding-bottom: 5vh;

}
.task-header-panel {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-top: 2vw;
  color:#333;
  font-family: 'Segoe UI', sans-serif;
  font-size: 2vw;
  font-weight: 700;
}
.dark-mode .task-heading {
  color: #ffffff; /* color for dark mode */
}

.dark-mode .task-panel {
  color: #ffffff; /* Ensures all text inside the task panel is white */
}

.task-heading {
  font-weight: 600;
  font-size: 2rem;
  color: #333; /* default color for light mode */
}



.task-list .task-panel {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 15%;
  margin-right: 10%;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.form-control label {
  font-weight: bold;
  color: #333;
}

.text-danger {
  color: #ff0000;
}

.btn-primary, .btn-secondary {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
}



.task-list .task-panel:hover {
  background-color: #f5f5f7;
}

.task-info {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-weight: bold;
  margin: 0;
  color: #333;
}

.task-time {
  color: #999999;
  margin: 0;
}

.task-status .icon {
  background-image: url('complete.svg');
  background-size: cover;
  margin: 1rem;
  margin-top: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}

.icon-incomplete {
  opacity: 0.5; /* Incomplete tasks will have faded icons */
}

.icon-complete {
  opacity: 1; /* Completed tasks will have full opacity icons */
}


.settings-heading {
  margin-right: auto;
  color: #333;
  font-weight: 600;
  font-size: 2rem;
}

.dark-mode .settings-heading {
  color: #ffffff;
}

.dark-mode-label {
  color: #333;
  font-weight: 300;
  margin-right: 15px;
  
  font-size: 1.5rem;
}

.dark-mode .dark-mode-label {
  color: #ffffff;
}

.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  outline: none;
}

.icon-light-mode {
  margin-top: 10px;
  background-image: url('sun.svg');
}

.icon-dark-mode {
  margin-top: 10px;
  background-image: url('moon.svg');
}

.dark-mode .task-sidebar {
  background-color: #FFC300;
}

.dark-mode .task-title, .dark-mode .task-time {
  color: #ffffff; /* This will overwrite any other color settings for dark mode */
}

.dark-mode {
  background-color: #424242;
  color: #e0e0e0;
}

.dark-mode .right-panel, .dark-mode .login-container, .dark-mode .task-sidebar, .dark-mode .task-main {
  background-color: #333;
}

.dark-mode .task-panel {
  background-color: #424242;
  color: #e0e0e0;
}

.sidebar-item.active {
  background-color: #6f42c1;
}

.dark-mode .task-panel:hover {
  background-color: #535353;
}

/* Ensure the dark mode label and toggle button are on the same axis */
.dark-mode-toggle {

  display: flex;
  align-items: center;
}

.form-control[type="date"] {
  font-size: 100%;
  border: 1px solid #CCC;
  padding: .5em 1em;
  border-radius: .25em;
  margin-bottom: 1em;
}

.strikethrough {
  text-decoration: line-through;
}

.completed-task {
  opacity: 0.6; /* Optional: fade the task to indicate it's completed */
}
