.custom-navbar {
  background-color: #5957D5;
  height: 10vh; /* Header takes 1/10 of the height */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.navbar-logo {
  background-color: #5957D5;
  width: 50px; /* Logo size */
  height: 50px; /* Logo size */
  border-radius: 50%; /* Makes it a circle */
  display: inline-block;
}

.navbar-logo:hover {
  background-color: darken(blue, 10%); /* Darkens the logo on hover */
}

/* Styles for the main container */
.main-container {
  min-height: 90vh; /* Remaining height */
  background-color:#5957D5
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
