@model TodoList.Data.Domain.TodoListUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>

</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="login-card">
                <h2 class="welcome-title">Create User</h2>
                <form asp-action="Create" class="login-form">
                    <div class="form-group">
                        <label asp-for="Email" class="label-email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="label-password"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


